:root {
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
}
.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav {
    
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
    flex-shrink: 0;
    box-sizing: border-box;
    justify-content: flex-end;
}
#nav {
    min-width: auto;
    height: 48px;
    list-style-type: none;
    position: relative;
    float: right;
    padding: 0 4px;
    
}
li {
    display: inline;
}
a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: end;
}
#signin-btn {
    background-color:#1a73e8;
    color: white;
    padding: 10px 25.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 6px;
    margin-right: 8px;
    cursor: pointer;
}
.btn {
    background-color:gray;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .25px;
    margin-left: 10px;
    cursor: pointer;
}